{% load static %}

{% block basefile %}
    <title>Login - Bean Seeker</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class='container'>
        <a href="{% url 'main' %}">
            <img src="{% static 'img/logofin.png' %}" class="logoImg">
        </a>

        {% if error %}
            <script>alert('사용자의 정보가 일치하지 않습니다')</script>
        {% endif %}

        <div class="login-form">
            <form action="{% url 'login' %}" method="POST" class="login">
                {% csrf_token %}
                <label>ID</label>
                <input type="text" name="id" placeholder="id">
                <br>
                <label>PASSWORD</label>
                <input type="text" name="password" placeholder="password">
                <button id="loginButton" type="submit">로그인</button>
                <p class="join">계정이 없으신가요? 
                    <button class="joinBtn"><a href="{% url 'register' %}">가입하기</a></button>
                </p>
                <!-- <a href="{% url 'register' %}">회원가입</a> -->
            </form>
        </div>
    </div>
{% endblock %}