{% load static %}

{% block basefile %}
    <title>Sign In - Beans Seeker</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class='container'>
    <a href="{% url 'main' %}">
        <img src="{% static 'img/logofin.png' %}" class="logoImg">
    </a>
    <h1 class='title'> 회원가입 </h1>
    
    {% if error %}
        <script>alert('비밀번호가 일치하지 않습니다')</script>
    {% endif %}

    <div class="login-form">
        <form action="{% url 'register' %}" method="POST" class="login">
            {% csrf_token %}
            <label>ID</label>
            <input type="text" placeholder="아이디" name="id">
            <label>PASSWORD</label>
            <input type="password" placeholder="비밀번호" name="password1">
            <label>PASSWORD 확인</label>
            <input type="password" placeholder="비밀번호 확인" name="password2">
            <button id="signUpButton" type="submit">가입하기</button>
        </form>
        
        <p class="join">계정이 있으신가요?
            <button class="joinBtn"><a href="{% url 'login' %}">로그인</a></button>
        </p>
    </div>
</div>
{% endblock %}