body{
    font-size:13px;
    /* font-family: ; */
    line-height: 1.6em;
    background-color:rgb(145, 112, 97);
}

.container{
    width:500px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #e6e3e3;
    border:1px solid #926e45;
    border-radius:5px;
    padding:30px;
    box-shadow:0 0 30px;
}

.container img{
    width:70%;
    display:block;
    margin:0px auto;
}

form.login{
    background-color: #eee;
    padding: 20px;
    border-radius:5px;
    box-shadow: 1px 1px lightgray;
}

form.login label {
    font-weight: bold;
    font-size:0.8em;
}

form.login input[type=email],
form.login input[type=password]{
    display:block;
    width:95%;
    border-radius:5px;
    padding:7px 10px;
    margin-bottom:10px;
}

form.login input[type=checkbox]{
    vertical-align: middle;
}

form.login p button, button{
    display:block;
    margin:0px auto;
    width:120px;
    padding:5px 10px;
    background-color: #b69786;
    text-align: center;
    margin-top:20px;
    text-decoration: none;
    color:ghostwhite;
    text-decoration: none;
}