{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta property="og:title" content="Beans Seeker - 원두를 찾는 사람" />
        <meta property="og:description" content="어? 그 때 그 커피 맛있었는데 어떤 원두를 쓰더라? " />
        <meta property="og:image" content="{% static 'img/logofin.PNG' %}" />
        <link href="{% static 'css/base.css' %}" rel="stylesheet">

        {% block basefile %}
        {% endblock %}

        <title>Beans Seeker</title>
    </head>
    <body>
        <header class='head'>
            <div class="logo">
                <a href="{% url 'main' %}">
                    <img src="{% static 'img/logofin.PNG' %}" class="logoImg">
                    
                </a>
            </div>
            
            {% if not user.is_authenticated %}
            <div class="account">
                <a href="{% url 'login' %}">Sign In</a>
            </div>
            {% endif %}

            {% if user.is_authenticated %}
            <div class="account">
                <a href="{% url 'profile' %}">{{user.username}} 님   </a>
                <a href="{% url 'logout' %}">    Log Out</a>
            </div>
            {% endif %}
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>