@font-face {
    font-family: 'Minhye';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Minhye.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Minhye';
    font-size:40px;
}

.head{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: center;
    font-size:25px;
    height:70px;
    padding-left:20px;    
}

.logoImg{
    max-width: 200px;
    padding: 10px 0px 0px 10px;
}

.account{
    float: left;
    margin-right: 20px;
    list-style-type:none;
    font-size: 15px;
}

.acount::after{
    content:'';
    display:block;
}

.account a{
    color: #8F6363;
    text-decoration: none;
}