{% extends 'base.html' %}

{% load static %}

{% block basefile %}
    <link href="{% static 'css/cafes.css' %}" rel="stylesheet">
    <title>카페별 찾아보기</title>
{% endblock %} 

{% block content %}
    <body>
        <article class='cafe'>
            <pre>
                <a> 할리스커피       투썸플레이스         엔젤리너스 커피</a>
                <a href="{% url 'starbucks' %}">                                   스타벅스</a>
                <a href="{% url 'tomntoms' %}">               탐앤탐스 </a>
                <a> 커피빈                 이디야            카페 파스쿠찌</a>
                <a>             카페비엔나             빽다방</a>
            </pre>
        </article>
    </body>
{% endblock %}