{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %} 

{% block content %}
    <main>
        <article class="cover">
            <h2 >당신에 맞는 원두, 당신이 원하는 원두, 당신이 필요한 원두 </h2>
        </article>
        <div class="menu-content">
            <p>그때 거기서 먹었던 커피가 진짜 맛있었는데 ...</p>
            <a href="{% url 'cafes' %}">카페별 원두 알아보러 가기</a>
        </div>
        <aside class='blog'>
            <nav class='about'>
                <div class='about-content'><img src="{% static 'img/e.png' %}"></div>
                <div class='about-content'><img src="{% static 'img/d.png' %}"></div>
                <div class='about-content'><img src="{% static 'img/a.png' %}"></div>
            </nav>
        </aside>
    </main>
{% endblock %}