{% extends 'base.html' %}
{% load static %}

{% block basefile %}
<title>Starburks</title>
<link href="{% static 'css/page.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <h2 class='menu-title'>Starburks</h2>
    <div class='menu-gallery-list'>
        <div class='menu-gallery'>
            <a href='#'>
                <img class='menu-gallery-img' src="{% static 'img/co1.jpg' %}" alt/>
                <div class='menu-gallery-content'>
                    <h4>원두커피1</h4>
                </div>
            </a>
        </div>
        <div class='menu-gallery'>
            <a href='#'>
                <img class='menu-gallery-img' src="{% static 'img/co2.jpg' %}" alt/>
                <div class='menu-gallery-content'>
                    <h4>원두커피1</h4>
                </div>
            </a>
        </div>
        <div class='menu-gallery'>
            <a href='#'>
                <img class='menu-gallery-img' src="{% static 'img/co3.jpg' %}" alt/>
                <div class='menu-gallery-content'>
                    <h4>원두커피1</h4>
                </div>
            </a>
        </div>
        <div class='menu-gallery'>
            <a href='#'>
                <img class='menu-gallery-img' src="{% static 'img/co4.jpg' %}" alt/>
                <div class='menu-gallery-content'>
                    <h4>원두커피1</h4>
                </div>                          
            </a>
        </div>
        <div class='menu-gallery'>
            <a href='#'>
                <img class='menu-gallery-img' src="{% static 'img/co5.jpg' %}" alt/>
                <div class='menu-gallery-content'>
                    <h4>원두커피1</h4>
                </div>
            </a>
        </div>
        <div class='menu-gallery'>
            <a href='#'>
                <img class='menu-gallery-img' src="{% static 'img/co1.jpg' %}" alt/>
                <div class='menu-gallery-content'>
                    <h4>원두커피1</h4>
                </div>
            </a>
        </div>
    </div>
</main>
{% endblock %}
  